---
const { classes = "" } = Astro.props
import AdvancedPicture from "@components/test-01/advanced-picture.astro"
---
<!-- This is a comment -->
<p class={classes}>Hello!</p>

<AdvancedPicture image={data.image}
classes="cap cap-bottom object-cover w-full h-[calc(100%-4px)] xl:max-h-[678px]"
altTitle={data.title} />
<AdvancedPicture image={data.image} fpp={bar} />
<AdvancedPicture classes="xxxx fghfg dfgdfg" image={data.image} fpp={bar} />

<h2
class="2xl:text-left text-center"
>
{data.title}
</h2>

<h2 class="2xl:text-left text-center">{data.title}</h2>